/*
* rzvy
* Online Multi Business Appointment Scheduling & Reservation Booking Calendar
*/

/* ---------------------------------- */
/* Listing Item
------------------------------------- */

.listing-item-container {
/*	background: linear-gradient(to top, #f4f4f4 0%, #f9f9f9 10%); */
	background-color: #f6f6f6;
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 4px;
	/* transform: translate3d(0,0,0);
	transition: transform 0.3s; */
	margin-bottom: 30px;
}
.vc_row-fluid .listing-item-container,
section.fullwidth .listing-item-container,
.fs-content .listing-item-container {
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.08);
	background-color: #fff;
	background: #fff;
}

.vc_row[data-vc-full-width] .listing-item-container.list-layout,
section.fullwidth .listing-item-container.list-layout,
.fs-content .listing-item-container.list-layout {
	box-shadow: none;
}

/* .listing-item-container:hover { transform: translate3d(0,-2px,0); } */

.listing-item {
	background: #ccc;
	border-radius: 4px 4px 0 0;
	height: 100%;
	display: block;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	height: 265px;
	z-index: 100;
	cursor: pointer;
}

.listing-item img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	border-radius: 4px 4px 0 0;
}


.listing-item:before {
	content: "";
	top: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9;
	background: linear-gradient(to top, rgba(35,35,37,0.9) 0%, rgba(35,35,37,0.55) 35%, rgba(22,22,23,0.1) 60%, rgba(0,0,0,0) 100%);
	background-color: rgba(35,35,37,0.2);
	border-radius: 4px 4px 0 0;
	opacity: 1;
}

.listing-item-content {
	position: absolute;
	bottom: 28px;
	left: 0;
	padding: 0 30px;
	/* padding-right: 90px; */
	width: 100%;
	z-index: 50;
	box-sizing: border-box;
}

.listing-item-content h3 {
	color: #fff;
	font-size: 20px;
	position: relative;
	font-weight: 500;
	margin: 0;
	line-height: 28px;
}

.listing-small-badges-container h3 {
	color: #fff;
	font-size: 20px;
	position: relative;
	font-weight: 500;
	margin: 0;
	line-height: 28px;
}

.listing-item-content span {
	font-size: 13px;
	font-weight: 300;
	display: inline-block;
	color: rgba(255,255,255,0.9);
    line-height: 24px;
    margin-top: 0;
}

.map-box .listing-item-content span {
    margin-top: -2px;
}

#map { outline: none; }

#map-container .main-search-inner { pointer-events: none; }
#map-container .main-search-inner .container { pointer-events: all; }

.listing-item-container.list-layout span.tag,
.listing-item-content span.tag {
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 2.5px;
	font-weight: 60;
	background: rgba(255,255,255,0.3);
	border-radius: 50px;
	padding: 6px 14px;
    line-height: 15px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 11px;
	
/*     font-size: 13px;
font-weight: 500;
text-transform: none;
letter-spacing: 0; */
}

.listing-item-container.list-layout span.tag {
    margin-bottom: 8px;   
}

.listing-item-container.list-layout span.tag {
	position: absolute;
	bottom: 20px;
	left: 20px;
	background: #66676b;
	margin: 0;
	z-index: 10;
    line-height: 14px;
    padding: 7px 16px;
    margin-right: 20px;
    text-align: center;
}


/* Listing item details */
.listing-item-details {
	position: absolute;
	top: 24px;
	left: 0;
	padding: 0 32px;
	width: 100%;
	z-index: 50;
	color: #fff;
	box-sizing: border-box;
	font-weight: 500;
	font-size: 15px;
}

.listing-item-details ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

.listing-item-details ul li {
	display: inline-block;
	margin-right: 6px;
	line-height: 20px;
}

.listing-item-details ul li i {
	display: inline-block;
	margin: 0 3px 0 0;
	position: relative;
	top: 0px;
	font-size: 14px;
}


/* Listing Item Alternative Version*/
.listing-item-container.compact .listing-item { border-radius: 4px; }
.listing-item-container.compact .star-rating { padding: 5px 0 0 0; }

.listing-item-container.compact .rating-counter {
	color: rgba(255,255,255,0.7);
}

.listing-item-container.compact .star-rating .star.empty:before,
.listing-item-container.compact .star-rating .star.half:before { color: rgba(255,255,255,0.3); }

.listing-item-container.compact .listing-item-content span.tag { background-color: #66676b; }

/* Number rating*/
.numerical-rating {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 8px;
	text-align: center;
	line-height: 26px;
	height: 26px;
	width: 44px;
	display: inline-block;
	font-family: "Open Sans";
	position: relative;
	border-radius: 50px;
	letter-spacing: -0.5px;
	background-color: rgba(255,255,255,0.2);
	margin: 15px 32px;
}

.compact .numerical-rating { margin: 0 0 8px 0; }

.numerical-rating:before {	content: attr(data-rating); }

.numerical-rating.high { background-color: #007bff; }
.numerical-rating.mid { background-color: #c0c52a; }
.numerical-rating.low { background-color: #ee3535; }

.infoBox .numerical-rating .rating-counter,
.numerical-rating .rating-counter {
	position: absolute;
	top: 0;
	left: 14px;
	width: auto;
	display: inline-block;
	font-weight: 400;
	font-size: 15px;
	width: 150px;
	color: #909090;
}

.infoBox .numerical-rating .rating-counter { left: 12px; }

.infoBox .numerical-rating {
	margin: 0;
	font-family: "Open Sans";
}


/* Star Rating */
.star-rating { display: block; font-size: 17px; }

.listing-item-container .star-rating {
	padding: 15px 32px;
}

.star-rating .star {
	display: inline-block;
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 4px;
	position: relative;
}

.rating-counter {
	color: #888;
	padding-left: 5px;
	display: inline-block;
	font-size: 15px;
}
.rating-counter span { margin-left: -5px; }
#package_selection strong { font-weight: 600; }
.user-packages { list-style: none; }

.star-rating .rating-counter {
	top: -1px;
	position: relative;
}

.infoBox .star-rating .rating-counter {
	font-size: 15px;
	top: -2px;
}

.star-rating .star.half:after,
.star-rating .star:before {
	font-family: "FontAwesome";
	content: "\f005";
	display: block;
	color: #ffc600;
}

.star-rating .star.empty:before { color: #ddd; }

.rating:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.star-rating .star.half:before { color: #ddd; }
.star-rating .star.half:after {
	color: #ffc600;
	position: absolute;
	top:0;
	width: 50%;
	display: block;
	height: 100%;
	overflow: hidden;
}
.rzvy_ratinginfo{
	margin: -8px 0px 0px 0px !important;
}
.rzvy_ratinginfo strong{
	font-weight: bold !important;
}
.rzvy_ratinginfo span{
	font-size: 11px !important;
}

/* Like Icon */
span.like-icon {
	color: #fff;
	font-size: 19px;
	position: absolute;
	z-index: 101;
	right: 30px;
	bottom: 30px;
	cursor: normal;
	background-color: rgba(24,24,24,0.4);
	display: block;
	height: 44px;
	width: 44px;
	border-radius: 50%;
	/* transition: all 0.4s; */
}

.like-icon:before,
.like-icon:after {
	/* transition: opacity 0.3s, transform 0.4s cubic-bezier(.0,-.41,.19,2.5); */
	font-family: "FontAwesome";
	position: absolute;
	right: 0;
	left: 0;
	text-align: center;
	top: 9px;
}

.like-icon:before {
	content: "\f08a";
	/* transform: scale(0.95); */
}

.like-icon:after {
	content: "\f004";
	opacity: 0;
	/* transform: scale(0.5); */
}

.like-icon.liked:after {
	opacity: 1;
	/* transform: scale(0.95); */
}

.like-icon:hover,
.like-icon.liked {
	background-color: #f3103c;
}

.like-icon.liked:before{
	opacity: 0;
}

/* Badges */
.listing-item { overflow: hidden; }

.listing-item.list_active, .listing-item:hover { border: 2px solid rgb(23, 136, 251) !important; }
.listing-item.staff_active, .listing-item:hover { border: 2px solid rgb(23, 136, 251) !important; }

.listing-badge {
	background-color: #333;
	float: left;
	position: absolute;
	transform: rotate(45deg);
	right: -64px;
	top: 22px;
	text-align: center;
	width: 200px;
	font-size: 12.5px;
	margin: 0;
	z-index: 999;
	color: #fff;
	font-weight: 500;
	line-height: 28px;
}


.listing-badge.now-open {
	background-color: #007bff;
}

.listing-badge.now-closed {
	background-color: #e91721;
}
/* Listing Badges */
.listing-small-badges-container {
	position: absolute;
	top: 9px; /* 25px */
	left: 9px; /* 25px */
	z-index: 110;
	padding-right: 50px;
}

.list-layout .listing-small-badges-container { left: 20px; top: 20px; }

.listing-small-badge {
	display: inline-block;
	padding-left: 20px; /* 31px */
	padding-right: 5px; /* 10px */
	font-size: 10px; /* 13px */
	font-weight: 500;
	background-color: #fff;
	color: #777;
	border: none;
	border-radius: 100px;
	line-height: 21px; /* 26px */
	height: 21px; /* 26px */
	box-shadow: 0 1px 4px rgba(0,0,0,0.08);
	vertical-align: top;
	position: relative;
	margin-bottom: 3px;
}

.listing-small-badge i {
	position: absolute;
	height: 15px; /* 20px */
	width: 15px; /* 20px */
	top: 3px;
	left: 3px;
	border-radius: 100%;
	text-align: center;
	line-height: 14px; /* 20px */
	font-size: 10px; /* 12px */
	background: #222;
	color: #fff;
}

.listing-small-badge i.fa-calendar-check-o { font-size: 11px; line-height: 19px; }

.listing-small-badge.pricing-badge i { background-color: #007bff; }
.listing-small-badge.featured-badge i { background-color: #ffc601; }

.listing-list-small-badges-container { margin-top: 10px; }


/* .rzvy_multipleqty_addon_boxhover .listing-item-container:hover { transform: unset !important; } */

.rzvy_multipleqty_addon_boxhover .listing-item-container {
	margin-bottom: 0px !important;
	/* transform: unset !important;
	transition: unset !important; */
}


/*********************************List View ***********************************************/
.rzvy-listview {
	opacity: 1; pointer-events: all;
}
.rzvy-listview .rzvy-listview-list {
    position: relative;
    background: #ffffff;
    border-radius: 6px;
    margin-bottom: 2px;
    padding: 16px 16px 16px 16px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow-x: hidden;
	pointer-events: all;
}
.rzvy-listview .rzvy-listview-list .rzvy-listview-list-data {
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}
.rzvy-listview .rzvy-listview-list .rzvy-listview-list-data .rzvy-listview-list-info {
	padding: 0;
}
.rzvy-listview .rzvy-listview-list .rzvy-listview-list-data .rzvy-listview-list-info .rzvy-listview-list-title {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 4px;
	margin-right: 16px;
	padding-right: 24px;
}
.rzvy-listview .rzvy-listview-list .rzvy-listview-list-data .rzvy-listview-list-info .rzvy-listview-list-title .rzvy-listview-list-price{
	display: inline-block;
	position: relative;
	vertical-align: text-bottom;
	padding: 0 8px 0 10px;
	border-radius: 6px;
	text-transform: capitalize;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	margin-left: 1%;
	color: rgb(23, 136, 251);
	background: rgba(23, 136, 251, 0.05);
}
.rzvy-listview .rzvy-listview-list .rzvy-listview-list-data .rzvy-listview-list-info .rzvy-listview-list-sub-info > div{
	display: inline-block;
	font-size: 12px;
	color: #354052;
	margin-right: 32px;
}
.rzvy-listview .rzvy-listview-list .rzvy-listview-list-data .rzvy-listview-list-badge-main{
	position: absolute;
	right: 16px;
	top: 16px;
	display: inline-flex;
}
.rzvy-listview .rzvy-listview-list .rzvy-listview-list-data .rzvy-listview-list-badge{
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
	color: rgb(23, 136, 251);
	padding: 0 10px;
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
}

.rzvy-listview .rzvy-listview-list .rzvy-listview-list-data .rzvy-listview-list-image{
	display: flex;
	/* border: 1px solid #e2e6ec; */
	/* border-radius: 6px; */
	width: 64px;
}

.rzvy-listview .rzvy-listview-list .rzvy-listview-list-data .rzvy-listview-list-image img{
	margin-top: 10%;
	border-radius: unset !important;
}

.listing-item-container-noimage .list_active, .listing-item-container-noimage .rzvy-categories-radio-change:hover,
.rzvy-listview .rzvy-listview-list.list_active, .rzvy-listview .rzvy-listview-list:hover {
	border: 2px solid rgb(23, 136, 251) !important
}

/********************************* New Card View ***********************************************/
.rzvy_noborder{
	border: unset;
}
.rzvy_card_common .card-common-my-1{
	font-size: 11px;
	margin-top: .40rem;
	margin-bottom: .50rem;
}
.rzvy_card_common .card_common_fontsize{
	font-size: 11px !important;
}
.rzvy_card_common{
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.04);
	background: transparent;
}
.rzvy_card_common h6{
	font-size: unset !important;
}
.rzvy_card_common input{
	height:30px;
	width: 100px;
	text-align: center;
	font-size: 26px;
	border:1px solid #ddd;
	display: inline-block;
	vertical-align: middle;
}
.rzvy_card_common img.card-img-top{
	width: 75%;
}
.rzvy_card_common img.card-img-top.rounded-circle{
	border-radius: 50% !important;
	height: 180px;
	width: 180px;
	object-fit: fill;
}
.rzvy_card_common.staff_active,
.rzvy_card_common.list_active, 
.rzvy_card_common:hover {
	border: 2px solid rgb(23, 136, 251) !important
}

/* Image preview css */
.rzvy .rzvy-frontimagecircle {
  position: relative;
  max-width: 133px;
  margin: auto;
  padding-top: 2%;
}
.rzvy .rzvy-frontimagecircle .rzvy-frontimagecircle-preview {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 100%;
}
.rzvy .rzvy-frontimagecircle .rzvy-frontimagecircle-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* Image preview css */

#rezervy-cookie-concent{
	z-index: 1062;
	position: relative;
}
.rzvy-servicepackage-existing{
	cursor: no-drop !important; 
}
.rzvy-servicepackage-existing:hover{
	border: unset !important; 
}